html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 15px;
}


nav{
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: plum;
}

.logo {
    display: inline-block;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.nav-item:hover {
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #000000;
}

.nav-item:hover a {
    color: #000000;
}

.logo img {
    width: 65px;
    max-height: 155px;
}

button {
    width: 50%;
    font-size: 17px;
    font-weight: 900;
    margin: 0 0 15px 5px;
    padding: 14px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(222, 167, 243);
    color: white;
}

.boutons{
    display: flex;
    flex-direction: row;
}

#p1, #p2, #p3{
    border: 1px dotted;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
}